<div class="row">
  <div class="col-md-12">
    <%= form_for(@settings_machinetype, url: settings_machinetypes_path, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

        <% if @settings_machinetype.errors.any? %>
            <div class="panel panel-danger col-md-offset-1">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <%= pluralize(@settings_machinetype.errors.count, 'error') %>
                  prohibited this machine type from being saved:
                </h2>
                <div class="panel-body">
                  <ul>
                    <% @settings_machinetype.errors.full_messages.each do |msg| %>
                        <li>
                          <%= msg %>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
        <% end %>
        <div class="form-group">
          <div class="control-label col-md-1">
            <%= f.label :name %>
          </div>
          <div class="col-md-11">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Machine Type name', autofocus: true %>
          </div>
          <div class="control-label col-md-1">
            <%= f.label "Machine Group" %>
          </div>
          <div class="col-md-11">
            <%# drop down box showing all Machinegroup records, the selected id is assigned to :machinegroup_id of the machinetype object %>
            <%= f.collection_select :machinegroup_id, Machinegroup.all, :id, :name, prompt: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-1 col-md-11">
            <%= f.submit "Create Machine Type", class: 'btn btn-primary btn-lg pull-right' %>
          </div>
        </div>
    <% end %>
  </div>
</div>