<div class="table-responsive">
  <h3>Customers</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Last name</th>
      <th>Name</th>
      <th>Address</th>
      <th>Locality</th>
			<th colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.title.title %></td>
          <td><%= customer.lastname %></td>
          <td><%= customer.name %></td>
          <td><%= customer.address %></td>
          <td><%= customer.postalcode.postalcode %>
              <%= customer.postalcode.locality %>
              </td>
					<td><%= link_to edit_customer_path(customer), class: "btn btn-default btn-xs" do %>
							    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <% end %>
					    <%= link_to [customer], method: :delete, data: {confirm: 'are you sure?'}, class: "btn btn-default btn-xs" do %>
							    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <% end %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="actions">
    <% if user_signed_in? %>
      <%= link_to 'Add Customer', new_customer_path, class: 'btn btn-default btn-lg', id: 'new-brand-btn' %>
    <% end %>
  </div>
</div>
